@font-face {
    font-family: 'Intrepid';
    src: url('Intrepid.woff2') format('woff2'),
        url('Intrepid.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

